@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
}

/* Color variables */
:root {
  --primary-color: #ea3c70;
  --primary-color-light:rgb(243, 106, 168);
  --dark-gray: #666666;
  --light-gray: #afafaf;
}

main {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.light-mode {
  .button {
    background-color: var(--dark-gray);
    color: white;
  }
}

.dark-mode {
  background-color: #333;
  * {
    color: rgb(218, 218, 218);
  }
  .button {
    background-color: white;
    color: #333;
  }
  a {
    color: white;
  }
  .blog-item:hover {
    border: 1px solid rgba(255, 255, 255, 0.549);
  }
  .blog-author {
    color: white;
  }
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  height: fit-content;
}

.nav-content {
  flex: 1;
  min-width: 0;
  white-space: nowrap;
}

.logo {
  color: #f1356d;
}

.navbar .logo {
  padding: .4em;
  white-space: nowrap;
}

.navbar h1:hover {
  color: var(--primary-color-light);
  cursor: pointer;
}

.navbar .links {
  margin-left: auto;
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav-item {
  text-decoration: none;
  margin: 0 0.5em;
  color: #666666;
}

.links .create-button {
  margin: 0;
}

.nav-item:hover {
  color: #9d9d9d;
  border-bottom: 1px solid rgba(141, 141, 141, 0.466);
}

.button {
  color: white;
  background-color: #afafaf;
  border-radius: 12px;
  padding: .3em .6em;
  margin-left: .5em;
}

.button:hover {
  color: white;
  background-color: #ff6d99;
}

.content {
  margin: 0 auto;
  padding: 1.5em;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5em auto;
}

.loading-message {
  height: 0;
  width: fit-content;
  margin: 0 auto;
}

.list-title {
  color: var(--primary-color);
  text-transform: uppercase;
  padding-bottom: .2em;
  border-bottom: 1px solid #f1356d8d;
  text-align: center;
  width: fit-content;
}

.header-title {
  color: var(--primary-color);
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blog-list {
  width: 95%;
  max-width: 800px
}

.blog-item {
  margin-top: .5em;
  display: flex;
  flex-direction: column;
  min-width: 40%;
  padding: 1em;
  padding-bottom: .2em;
  border: 1px solid transparent;
}

.blog-item:first-child {
  margin-top: 1em;
}

.blog-item:last-child {
  margin-bottom: 2em;
}

.blog-item:hover {
  border: 1px solid rgba(78, 78, 78, 0.549);
  cursor: pointer;
  .blog-title {
    text-decoration: underline;
  }
}

.blog-title {
  font-size: 20px;
  color: var(--primary-color);
  text-align: center;
  padding-left: .2em;
  float: left;
}

.blog-author:hover {
  border-bottom: 1px solid #f1356d9f;
  margin-bottom: -1px;
  cursor: pointer;
}

.header-container, .middle-container, .footer-container {
  display: flex;
  align-items: center;
  padding-bottom: .5em;
  width: 100%;
}

.header-container, .middle-container {
  justify-content: space-between;
}

.footer-container {
  justify-content: end;
  margin-top: .5em;
  border-top: 1px solid rgba(128, 128, 128, 0.596);
}

.blog-info {
  margin-bottom: .5em;
}

.blog-author {
  margin-right: .5em;
  padding-bottom: .1em;
  color: var(--dark-gray);
  text-transform: uppercase;
}

.blog-date {
  color: var(--dark-gray);
}

.blog-preview {
  padding-left: .2em;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--dark-gray);
}

a {
  text-decoration: none;
}

a:link {
  color: var(--dark-gray);
}

.button {
  width: fit-content;
  padding: .2em .5em;
  margin-top: .5em;
  color: #ffffff;
  right: .5em;
  border: none;
  background-color: var(--light-gray);
  border-radius: 6px;
}

.button:hover {
  cursor: pointer;
  color: white;
}

.BlogPost {
  position: relative;
  height: fit-content;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  max-width: 1200px;
}

.content {
  padding: 0 2em;
  flex: 1;
  height: 100%;
}

.post-footer {
  position: sticky;
  background-color: white;
  bottom: 0;
  height: 7vh;
  width: 95%;
  max-width: 1200px;
  display: flex;
  justify-content: flex-end;
  margin-top: .5em;
  border-top: 1px solid rgba(128, 128, 128, 0.596);
}

.post-footer .button {
  height: 2em;
}

/* form */

.Create {
  width: 95%;
  max-width: 1000px;
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em auto;
  
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 70%;
  margin: .5em auto;
}

.char-count {
  background-color: #666666;
  width: fit-content;
}

.form-label {
  width: 3em;
  padding: .6em;
}

.count-input {
  width: 100%;
}

.form-input {
  width: 100%;
}

.input-box {
  width: 100%;
  padding: 10px;
  resize: none;
  font-size: 16px;
  border: 2px solid #bcbcbc;
  border-radius: 5px;
}

.input-box:focus {
  outline-color: var(--primary-color) !important;
}